@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 2vh 10vw;
  @media (max-width: 500px) {
    padding: 1vh 1vw;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
.section__btn {
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 10px;
  color: white;
  text-align: center;
  font-weight: 700;
  
}

.container {
  display: flex;
  justify-content: space-between;
}

.left{
  text-align: left;
  @media (max-width: 1009px) {
    text-align: center;
  }
}

.center{
  text-align: center;
  
}

.right{
  text-align: right;
  @media (max-width: 1300px) {
    text-align: center;
  }
}

.section__border {
  border-bottom: 1px solid #1D1E2C;
  margin-bottom: 120px;
}

.main{
  height: 100vh;
  background: url('./../img/main-bg.png') no-repeat center center /cover;
}

.header {
  height: 80px;
  align-items: center;
  padding: 0 12px;
  @media (max-width: 900px) {
    padding: 0;
  }
}


@media (max-width: 600px) {
  .nav{
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  color: #444658;
  font-weight: 800;
  /* margin-left: 20px; */
  padding: 0 12px;
  font-size: 20px;
  @media (max-width: 500px) {
    padding: 0;
  }
}

.nav__link:first-child {
  margin-left: 0;
}

.header__burger{
  display: none;
  width: 60px;

  @media (max-width: 600px){
    display: block;
  }
}

.nav__button {
  border: 2px solid #515DE2;
  background: inherit;
  border-radius: 30px;
}

.main__sec {
  padding-top: 10vh;
  background: url("") no-repeat contain/cover;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__btn{
  display: block;
  width: max-content;
  margin-top: 60px;
  padding: 12px 24px;
}

.main__text{
  font-family: "Montserrat", serif;
  font-size: 60px;
  font-weight: 400;
}

.main__title {
  font-size: 50px;
  margin: 0;
  font-weight: 100;
  font-family: "Protest Guerrilla", sans-serif;

  @media (max-width: 500px){
    font-size: 30px;
  }

}


.advantages{
  background: url('./../img/rotated-bg.webp') no-repeat center center / cover;
  height: 100vh;
  padding: 0 10vw;

  padding-top: 140px;


}

.advantages__title{
  background-color: #fff;
  padding: 34px 54px;
  border-radius: 25px;
  width: max-content;
  margin: 0 auto;
}

.advantages__container{
  margin-top: 89px;
  background-color: #fff;
  padding: 67px 35px;
  border-radius: 25px;
  gap: 20px;
  justify-content: space-between  ;
  @media (max-width: 1300px){
    flex-wrap: wrap;
    justify-content: center; 
  }
}

.advantages__card__title{
  font-size: 20px;
  font-weight: 900;
}

.advantages__card__text{
  font-size: 18px;
  margin-top: 10px;
  width: 320px;
}

.shop{
  margin-top: 232px;
  padding: 0 12vw;
  padding-bottom: 265px;
}

.shop__container{
  display: flex;
  flex-direction: column;
  gap: 210px;
}

.shop__container__card{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  transition: 0.5s;
  justify-content: space-between;
}

.shop__container__card__img{
  width: 50%;
  border-radius: 50px;
}

.shop__container__card__title{
  width: 380px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 60px;
  transition: 0.5s;
  padding: 10px 0;

}

.about{
  font-family: 'Montserrat';
  
  padding-bottom: 450px;
}

.about__title{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.about__container{
  width: 80vw;
  margin-top: 40px;
  flex-wrap: wrap;
}

.about__card{
  font-size: 40px;
}

.about__card__title{
  font-weight: 900;
  line-height: 40px;
}

.about__card__paragraph{
  margin-top: 40px;
}

.reviews{
  padding-bottom: 400px;
}

.reviews__title{
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}

.reviews__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
.reviews__card{
  width: 20vw;
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 25px;
  height: 150px;
}
.reviews__card__paragraph{
  margin-top: 20px;
}
.review{
  text-shadow: 2px 0px 4px #fff;
  background: url('./../img/review-cup/black-cup.png') no-repeat left center;
}

.second-review{
  background: url('./../img/review-cup/white-cup.png') no-repeat left center;

}

.subscription{
  padding-top: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 280px;
  margin-bottom: 0;
}

.subscription__title{
  font-family: "Montserrat";
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.subscription__form{
  margin-top: 30px;
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.subscription__email {
  height: 46px;
  width: 310px;
  border: 1px solid black;
  border-radius: 30px;
  padding-left: 22px;
}

.subscription__button{
  border-radius: 30px;
  background-color: inherit;
  height: 30px;
  width: max-content;
  padding: 0 20px;
  align-self: center;
  border: 1px solid black;
}

.footer {
  background: #D1D1D1;

  padding: 1rem 7rem 0 7rem;
  @media (max-width: 500px){
    padding: 0 1vw;
  }
}

.footer__contacts {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__link{
  text-decoration: underline;
  color: #000;
}

.desctop{
  display: block;
}
.mobile{
  display: none;
}




@media(max-width: 1000px){


  .shop{
    padding: 0 6vw;
  }
  .shop__container__card__title{
    font-size: 55px;
  }
  .reviews__container{
    gap:30px;
    justify-content: center;  
    width: 100%;
  }
  .reviews__card{
    width: 40vw;
  }
  .about{
    padding: 0;
    padding-bottom: 150px;
  }
  .about__title{
    font-weight: 700;
    font-size: 30px;
  }
  .about__container{
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .about__card{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .about__card__title{
    margin-top: 50px;
    display: block; 
    width: 100vw;
    font-size: 30px;
  }
  .about__card__paragraph{
    display: block; 
    width: 100%;
    font-size: 30px;
  }
}
@media(max-width: 862px){
  .mobile{
    display: inline;
  }
  .mobile-border{
    border-bottom: 0;
  }
  .desctop{
    display: none;
  }
  .advantages__title{
    font-size: 30px;
    padding: 40px 5px;
  }
  .shop__container__card__title   {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    width: 100%;  
  }
  .shop{
    align-items: center;
    margin-top: 232px;
    padding: 0;
    padding-bottom: 265px;
  }
  .shop__container{
    align-items: center;
  }
  .shop__container__card__img{
    width: 100%;
    border-radius: 50px;
  }
}
@media (max-width: 600px){

  .advantages{
    padding: 0 26px;
    background: url('./../img/secong-page-bg.webp') no-repeat center center / cover;
    padding-top: 175px;
    
  } 
  .advantages__container{
    justify-content: center;
  }

  .shop__container__card__title   {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    width: 100%;  
  }
  .shop{
    align-items: center;
    margin-top: 232px;
    padding: 0;
    padding-bottom: 265px;
  }
  .shop__container{
    align-items: center;
  }
  .shop__container__card__img{
    width: 100%;
    border-radius: 50px;
  }
  .reviews{
    padding-bottom: 60px;
  }
  .reviews__card{
    width: 80vw;
  }
  .reviews__title{
    font-size: 35px;
  }

  .footer__links{
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem 2rem 0 2rem;
    gap: 80px;
  }
}

@media (max-width:400px){
  .advantages{
    padding: 0 13px;
  } 
  .advantages__title{
    text-align: center;
    font-size: 25px;
    width: min-content;
  }
  .shop__container__card__title   {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    width: 100%;  
  }
  .subscription__email{
    width: 210px;
  }
}