@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

section {
  padding: 2vh 10vw;
}

.header {
  height: 80px;
  align-items: center;
  padding: 0 12px;
}

.nav__link {
  text-decoration: none;
  color: #444658;
  font-weight: 800;
  /* margin-left: 20px; */
  padding: 0 12px;
  font-size: 20px;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__button {
  border: 2px solid #515DE2;
  background: inherit;
  border-radius: 30px;
}

.main {
  padding-top: 10vh;
  background: url("") no-repeat contain/cover;
  text-align: center;
  height: 80vh;
}

.section__border {
  border-bottom: 1px solid #1D1E2C;
}

.main__title {
  font-size: 50px;
  margin: 0;
  font-weight: 100;
  font-family: "Protest Guerrilla", sans-serif;
}

.company-name {
  font-size: 100px;
  line-height: 100px;
}

.section__title {
  display: flex;
  align-items: end;
}

.section__text {
  margin-left: 10px;
  font-size: 14px;
}

.subscription__email {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
}
.subscription__send {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
}

.footer {
  padding: 2rem 5rem 0 5rem;
  height: 50vh;
}
.footer__contacts {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}