@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

section {
  padding: 2vh 10vw;
  @media (max-width: 500px) {
    padding: 1vh 1vw;
  }
}
/*TODO burger */
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 80px;
  align-items: center;
  padding: 0 12px;
  @media (max-width: 500px) {
    padding: 0;
  }
}
.nav{
  @media (max-width: 500px) {
    display: none;
    
  }
}
.nav__link {
  text-decoration: none;
  color: #444658;
  font-weight: 800;
  /* margin-left: 20px; */
  padding: 0 12px;
  font-size: 20px;
  @media (max-width: 500px) {
    padding: 0;
  }
}

.nav__link:first-child {
  margin-left: 0;
}
.header__burger{
  display: none;
  @media (max-width: 500px){
    display: block;
    width: 30px;
  }
}
.nav__button {
  border: 2px solid #515DE2;
  background: inherit;
  border-radius: 30px;
}

.main {
  padding-top: 20vh;
  background: url("") no-repeat contain/cover;
  text-align: center;
  height: 80vh;
}

.section__border {
  border-bottom: 1px solid #1D1E2C;
  margin-bottom: 120px;
}

.main__title {
  font-size: 50px;
  margin: 0;
  font-weight: 100;
  font-family: "Protest Guerrilla", sans-serif;
  animation: logo-rise linear;
  transition: 1s;


  @media (max-width: 500px){
    font-size: 30px;
  }

}

.company-name {
  font-size: 100px;
  line-height: 100px;

}

.section__title {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}

.section__text {
  margin-left: 10px;
  font-size: 14px;
}

.card-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-container__card{
  box-shadow: 1px 1px 10px gray ;
  border-radius: 20px;
  padding: 20px 20px;
  width:22vw;
  transition: 0.5s;
  @media (max-width: 500px) {
    width: 80vw;
  }
}
.card-container__card:hover{
  box-shadow: 0 0 0 #fff;
}
.card-container__card__img{
  width: 100%;
}
.card-container__card__title{
  text-transform: uppercase;
  font-weight: 1000;
  transition: 0.5s;
  padding: 10px 0;
  @media (max-width: 500px){
    font-size: 16px;
    font-weight: 800;
  }
}
.card-container__card__title:hover{
  font-size: 18px;

}
.card-container__card__paragraph{
  font-size: 14px;
}
.card-container__card__stars{
  display: flex;
  align-items: center;
}
.card-container__card__stars__img{
  width: 30px;
}
.subscription{
  margin-bottom: 0  ;
}
.subscription__email {
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
}
.section__btn {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.reviews__container{
  justify-content: space-between;
}
.review{
  mix-blend-mode: difference; 
  text-shadow: 2px 2px 10px #fff;
  background: url('./../img/black-cup.png') no-repeat left center;
}
.second-review{
  background: url('./../img/white-cup.png') no-repeat left center;

}

.about-container{
  flex-direction: column;
}
.footer {
  background: linear-gradient(#fff, rgba(122, 122, 122, 0.498));

  padding: 1rem 7rem 0 7rem;
  @media (max-width: 500px){
    padding: 0 1vw;
  }
}
.footer__links{
  @media (max-width: 500px){
    flex-direction: column;
    text-align: center;
  }
}
.footer__contacts {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__link{
  text-decoration: underline;
  color: #000;
}
.container {
  display: flex;
  justify-content: space-between;
}

.no-shadow{
  box-shadow: 0px 0px 0px #fff;
}

@keyframes logo-rise{
  0%{}

  100%{
    font-size: 55px;
    @media (max-width: 500px){
      font-size: 25px;
      
    }
  }
}
